body::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 115vh;
    width: 98vw;
    background-image: url(/img/fback.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
    background-attachment: fixed;
    opacity: 0.5;
    z-index: -1;
}
.center{
    text-align: center;
}
#p{
    font-size: large;
}