*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
body::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 160vh;
    width: 98vw;
    background-image: url(../img/fback.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
    background-attachment: fixed;
    opacity: 0.6;
    z-index: -1;
}
.a{
    text-decoration: none;
    color: rgb(103, 143, 219);
    font-weight: bolder;
}
.a1{
    text-decoration: none;
    color: black;
    font-weight: bolder;
}
#navbar{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
    font-family: 'Baloo Bhai 2', cursive;
    z-index: 1;
}
#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.5;
}
#logo{
    margin: 2vw 2vh;
}
#logo img{
    height: 8vh;
    width: 16vw;
    border-radius: 50px;
    opacity: 1;
}
#navbar ul{
    display: flex;
}
#navbar ul li{
    list-style: none;
    font-size: 1.1rem;
}
#navbar ul li a{
    color: white;
    display: block;
    padding: 1vh 2vw;
    border-radius: 50px;
    text-decoration: none;
}
#navbar ul li a:hover{
    color: black;
    background-color: white;
}
#lenght{
    width: 44vw;
    height: 25vh;
    background: rgba(59, 57, 57, 0.308);
    position: relative;
    top: 4vh;
    left: 29vw;
    box-shadow: 0px 0px 2px 1px #cacaca;
}
.item{
    align-self: center;
}
.converter-title{
    text-align: center;
    margin: 13px 0px;
}
.center{
    text-align: center;
    font-family: 'Train One', cursive;
}
input{
    height: 30px;
    text-align: center;
}
#input,#put,#nput,#ut,#input1,#input2{
    margin-left: 80px;
}
#inputType,#resultType,#putType,#sultType,#nputType,#esultType,#utType,#ultType,#inputType1,#resultType1,#inputType2,#resultType2{
    height: 30px;
    width: 172.66px;
    margin-left: 80px;
    color: red;
}
#resultType,#sultType,#esultType,#ultType,#resultType1,#resultType2{
    margin-left: 13.5px;
}
#converter-body{
    width: 44vw;
    height: 25vh;
    background: rgba(200, 200, 200, 0.7);
    position: relative;
    /* top: 10vh;
    left: 5vw; */
    margin: 2vh 2vw;
    box-shadow: 0px 0px 2px 1px #cacaca;
}
#area{
    width: 44vw;
    height: 25vh;
    background: rgba(200, 200, 200, 0.7);
    position: relative;
    /* top: -16.9vh;
    left: 52vw; */
    margin: 2vh 2vw;
    box-shadow: 0px 0px 2px 1px #cacaca;
}
#mass{
    width: 44vw;
    height: 25vh;
    background: rgba(200, 200, 200, 0.7);
    position: relative;
    /* top: -13.3vh;
    left: 5vw; */
    margin: 2vh 2vw;
    box-shadow: 0px 0px 2px 1px #cacaca;
}
#temp{
    width: 44vw;
    height: 25vh;
    background: rgba(200, 200, 200, 0.7);
    position: relative;
    /* top: -36.5vh;
    left: 5vw; */
    margin: 2vh 2vw;
    box-shadow: 0px 0px 2px 1px #cacaca;
}
#currency{
    width: 44vw;
    height: 25vh;
    background: rgba(200, 200, 200, 0.7);
    position: relative;
    /* top: -63.6vh;
    left: 52vw; */
    margin: 2vh 2vw;
    box-shadow: 0px 0px 2px 1px #cacaca;
}
#volume{
    width: 44vw;
    height: 25vh;
    background: rgba(200, 200, 200, 0.7);
    position: relative;
    /* top: -40.3vh;
    left: 52vw; */
    margin: 2vh 2vw;
    box-shadow: 0px 0px 2px 1px #cacaca;
}
.content{
    background:  rgba(200, 200, 200, 0.7);
    position: relative;
    top: 5vh;
    text-align: center;
}
.fqs{
    background:  white;
    position: relative;
    top: 5vh;
    text-align: center;
}
#area1{
    width: 44vw;
    height: 25vh;
    background: rgba(200, 200, 200, 0.7);
    position: relative;
    top: 4vh;
    left: 29vw;
    box-shadow: 0px 0px 2px 1px #cacaca;
}
#weight{
    width: 44vw;
    height: 25vh;
    background: rgba(200, 200, 200, 0.7);
    position: relative;
    top: 4vh;
    left: 29vw;
    box-shadow: 0px 0px 2px 1px #cacaca;
}
#volume1{
    width: 44vw;
    height: 25vh;
    background: rgba(200, 200, 200, 0.7);
    position: relative;
    top: 4vh;
    left: 29vw;
    box-shadow: 0px 0px 2px 1px #cacaca;
}
#temp1{
    width: 44vw;
    height: 25vh;
    background: rgba(200, 200, 200, 0.7);
    position: relative;
    top: 4vh;
    left: 29vw;
    box-shadow: 0px 0px 2px 1px #cacaca;
}
#currency1{
    width: 44vw;
    height: 25vh;
    background: rgba(200, 200, 200, 0.7);
    position: relative;
    top: 4vh;
    left: 29vw;
    box-shadow: 0px 0px 2px 1px #cacaca;
}
.content h1,h2{
    font-family: 'Zilla Slab Highlight', cursive;
}
.chart{
    background:  rgba(200, 200, 200, 0.7);
}
.title-text{
    text-align: center;
    padding-bottom: 7.6vh;
}
.title-text p{
    margin: auto;
    font-size: 20px;
    color: #009688;
    font-weight: bold;
    position: relative;
    z-index: 1;
    display: inline-block;
}
.title-text p::after{
    content: '';
    height: 3.8vh;
    width: 3.9vw;
    background: linear-gradient(#019587,#fff);
    position: absolute;
    top: -2.1vh;
    left: 0;
    z-index: -1;
    transform: rotate(10deg);
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
}
.title-text h1{
    font-size: 50px;
}
#footer{
    margin-top: 26vh;
    padding: 11vh 0 2vh;
    background: rgba(200, 200, 200, 0.7);
}
.footer-row{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
}
.footer-col{
    flex-basis: 90%;
    padding: 1vh 1vw;
    margin-bottom: 2vh;
    text-align: center;
}
.footer-row h1{
    margin: 1vh 0;
}
.footer-row p{
    line-height: 35px;
    text-align: center;
}
.footer-col .fa{
    font-size: 20px;
    color: #009688;
    margin: 1vh 1vw;
    /* text-align: center; */
}
.social-links{
    text-align: center;
}
.social-links .fa{
    height: 5vh;
    width: 3vw;
    font-size: 20px;
    line-height: 40px;
    border: 1px solid #009688;
    margin: 4vh 0.3vw 0;
    color: #009688;
    cursor: pointer;
    transition: .5s;
}
.social-links .fa:hover{
    background: #009688;
    color: #fff;
    transform: translateY(-7px);
}